<mat-spinner *ngIf='isLoading'></mat-spinner>
<mat-card *ngIf='!isLoading'>
  <mat-card-header>
    <h3>Login </h3>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="postForm">
      <mat-form-field>
        <input matInput placeholder="Post Title" formControlName="title" name='title'>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Post Body Content" formControlName="content" name='content'></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Create Post</button>
    </form>
  </mat-card-content>
</mat-card>
